<nz-layout class="login-container">
  <nz-content>
    <div class="login-content">
      <div nz-row class="login-form" nzJustify="center" nzAlign="middle">
        <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="6">
          <h1>{{ title }}</h1>
          <ng-content></ng-content>
        </div>
        <div nz-col nzXs="20" nzSm="16" nzMd="12" nzLg="6">
          <img
            class="app-logo"
            nz-image
            nzSrc="assets/images/logo.svg"
            nzDisablePreview="true"
          />
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer>
    <div class="login-footer">
      <p class="login-footer-text">All right reserved to me.</p>
    </div>
  </nz-footer>
</nz-layout>
