@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500');

.login-container {
    font-family: "Roboto Slab", sans-serif;

    .login-content {
        padding: 0 5%;
        
        .app-logo {
            width: 100%;
        }
    }
}

:is(.login-container, .login-content, .login-form) {
    height: 100%;
}