<app-login title="LOGIN">
  <div class="card">
    <form
      [formGroup]="loginForm"
      (ngSubmit)="login()"
      class="flex flex-column xl:w-26rem lg:w-18rem md:w-12rem"
    >
      <p>
        Don't have an account yet? <a routerLink="../register">Register Here</a>
      </p>
      <span class="field p-float-label p-input-icon-left py-2">
        <input
          pInputText
          formControlName="email"
          type="email"
          id="email"
          placeholder="Enter email"
          class="border-round outline-none focus:border-primary w-full"
        />
        <label htmlFor="email">Email</label>
        <i class="pi pi-user"></i>
      </span>
      <span class="field p-float-label p-input-icon-left py-2">
        <input
          pInputText
          formControlName="password"
          type="password"
          id="password"
          placeholder="Enter password"
          class="border-round outline-none focus:border-primary w-full"
        />
        <label htmlFor="password">Password</label>
        <i class="pi pi-lock"></i>
      </span>
      <p-button
        class="flex justify-content-center"
        label="LOGIN"
        type="submit"
      ></p-button>
    </form>
  </div>
</app-login>
