$spacer: 2rem;

@mixin margin($size, $position) {
  margin-#{$position}: $size * 0.25 * $spacer;
}

@mixin padding($size, $position) {
  padding-#{$position}: $size * 0.25 * $spacer;
}

@for $i from 0 through 4 {
  .mt-#{$i} {
    @include margin($i, "top");
  }
}

@for $i from 0 through 4 {
  .mb-#{$i} {
    @include margin($i, "bottom");
  }
}

@for $i from 0 through 4 {
  .mr-#{$i} {
    @include margin($i, "right");
  }
}

@for $i from 0 through 4 {
  .ml-#{$i} {
    @include margin($i, "left");
  }
}

@for $i from 0 through 4 {
  .pt-#{$i} {
    @include padding($i, "top");
  }
}

@for $i from 0 through 4 {
  .pb-#{$i} {
    @include padding($i, "bottom");
  }
}

@for $i from 0 through 4 {
  .pr-#{$i} {
    @include padding($i, "right");
  }
}

@for $i from 0 through 4 {
  .pl-#{$i} {
    @include padding($i, "left");
  }
}

@for $i from 0 through 4 {
  .p-#{$i} {
    padding: $spacer * 0.25 * $i;
  }
}

@for $i from 0 through 4 {
  .m-#{$i} {
    margin: $spacer * 0.25 * $i;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.no-padding-container {
  .mat-dialog-container {
    padding: 0 !important;
  }
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.fix-content {
  width: fit-content;
}